<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Directive yaMap</title>
</head>
<body ng-controller="MapCtrl">
    <form name="mapForm" novalidate>
        <div ya-map="{mode:'add',geoTypes:'point',maxCount:7}"
            ya-properties="mapProperties"
            ng-model="geoObjects"
            ya-select-index="selectIndex"
            ya-required="true"
            style="width: 600px;height: 400px"></div>
        <span ng-show="mapForm.$invalid">Нужно добавить хотя бы один геообъект</span>
    </form>
    {{geoObjects | json}}
    <button ng-click="delete()">Удалить</button>
    <script src="../lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="../../../ya-map.js"></script>
</body>
</html>
