<div class="center">
    <p>HTML:</p>
    <pre class="html" ng-non-bindable>
&lt;ya-map ya-zoom="10" ya-center="[37.64,55.76]"&gt;
    &lt;ya-geo-object ya-source="geoObjects[0]" ya-options="{draggable: true,fillColor: '#DB709377',strokeColor: '#990066',strokeOpacity: 0.8,strokeWidth: 5}"&gt;&lt;/ya-geo-object&gt;
&lt;/ya-map&gt;
    </pre>
    <p>javascript:</p>
    <pre class="js" ng-non-bindable>
$scope.geoObjects=[
    {
        geometry: {
            type: 'Circle',
            coordinates: [37.60,55.76],
            radius: 10000
        },
        properties: {
            balloonContent: "Радиус круга - 10 км",
            hintContent: "Подвинь меня"
        }
    }
];</pre>
</div>
<div class="right">
    <ya-map ya-zoom="10" ya-center="[37.64,55.76]">
        <ya-geo-object ya-source="geoObjects[0]" ya-options="{draggable: true,fillColor: '#DB709377',strokeColor: '#990066',strokeOpacity: 0.8,strokeWidth: 5}"></ya-geo-object>
    </ya-map>
</div>