<div class="center">
    <p>HTML:</p>
    <pre class="html">
&lt;ya-map zoom="8" center="[37.64,55.76]"&gt;
    &lt;map-toolbars&gt;
        &lt;map-toolbar name="zoomControl"&gt;&lt;/map-toolbar&gt;
        &lt;map-toolbar name="trafficControl"&gt;&lt;/map-toolbar&gt;
        &lt;map-toolbar name="smallZoomControl" options="{right: 5, top: 75}"&gt;&lt;/map-toolbar&gt;
    &lt;/map-toolbars&gt;
&lt;/ya-map&gt;
    </pre>
</div>
<div class="right">
    <ya-map zoom="8" center="[37.64,55.76]">
        <map-toolbars>
            <map-toolbar name="zoomControl"></map-toolbar>
            <map-toolbar name="trafficControl"></map-toolbar>
            <map-toolbar name="smallZoomControl" options="{right: 5, top: 75}"></map-toolbar>
        </map-toolbars>
    </ya-map>
</div>