<div class="center">
    <p>HTML:</p>
    <pre class="html">
&lt;ya-map id="map" zoom="8" center="[37.64,55.76]"&gt;
    &lt;map-controls&gt;
        &lt;map-control name="zoomControl"&gt;&lt;/map-control&gt;
        &lt;map-control name="trafficControl"&gt;&lt;/map-control&gt;
        &lt;map-control name="smallZoomControl" options="{right: 5, top: 75}"&gt;&lt;/map-control&gt;
    &lt;/map-controls&gt;
&lt;/ya-map&gt;
    </pre>
</div>
<div class="right">
    <ya-map id="map" zoom="8" center="[37.64,55.76]">
        <map-controls>
            <map-control name="zoomControl"></map-control>
            <map-control name="trafficControl"></map-control>
            <map-control name="smallZoomControl" options="{right: 5, top: 75}"></map-control>
        </map-controls>
    </ya-map>
</div>