<div class="center">
    <p>HTML:</p>
    <pre class="html" ng-non-bindable>
&lt;ya-map ya-zoom="8" ya-center="[37.64,55.76]"&gt;
    &lt;ya-toolbar ya-name="zoomControl"&gt;&lt;/ya-toolbar&gt;
    &lt;ya-toolbar ya-name="trafficControl"&gt;&lt;/ya-toolbar&gt;
    &lt;ya-toolbar ya-name="smallZoomControl" ya-options="{right: 5, top: 75}"&gt;&lt;/ya-toolbar&gt;
&lt;/ya-map&gt;
    </pre>
</div>
<div class="right">
    <ya-map ya-zoom="8" ya-center="[37.64,55.76]">
        <ya-toolbar ya-name="zoomControl"></ya-toolbar>
        <ya-toolbar ya-name="trafficControl"></ya-toolbar>
        <ya-toolbar ya-name="smallZoomControl" ya-options="{right: 5, top: 75}"></ya-toolbar>
    </ya-map>
</div>