<div class="center">
    <p>HTML:</p>
    <pre class="html">
&lt;ya-map zoom="5" center="[37.11,54.83]"&gt;
    &lt;geo-objects&gt;
        &lt;geo-object source="geoObjects[0]"
            options="{draggable:true,preset:'twirl#blueStretchyIcon',openEmptyBalloon: true}"
            ya-balloonopen="balloonOpen($event)"&gt;
        &lt;/geo-object&gt;
    &lt;/geo-objects&gt;
&lt;/ya-map&gt;
</pre>
    <p>javascript</p>
    <pre class="js">
$scope.geoObjects=[
    {
        // Геометрия = тип объекта + географические координаты объекта
        geometry: {
            // Тип геометрии - точка
            type: 'Point',
            // Координаты точки.
            coordinates: [37.72,55.8]
        },
        // Свойства
        properties: {
            iconContent: "Узнать адрес",
            hintContent: "Перетащите метку и кликните, чтобы узнать адрес"
        }
    }
];
$scope.balloonOpen = function($event){
    var obj = $event.get('target');
    obj.properties.set('balloonContent', "Идет загрузка данных...");

    // Имитация задержки при загрузке данных (для демонстрации примера).
    $timeout(function () {
        ymaps.geocode(obj.geometry.getCoordinates(), {
            results: 1
        }).then(function (res) {
                var newContent = res.geoObjects.get(0) ?
                    res.geoObjects.get(0).properties.get('name') :
                    'Не удалось определить адрес.';

                // Задаем новое содержимое балуна в соответствующее свойство метки.
                obj.properties.set('balloonContent', newContent);
            });
    }, 1500);
};
    </pre>
</div>
<div class="right">
    <ya-map zoom="5" center="[37.11,54.83]">
        <geo-objects>
            <geo-object source="geoObjects[0]" options="{draggable:true,preset:'twirl#blueStretchyIcon',openEmptyBalloon: true}" ya-balloonopen="balloonOpen($event)"></geo-object>
        </geo-objects>
    </ya-map>
</div>