<div class="center">
    <p>HTML:</p>
    <pre class="html">
&lt;ya-map zoom="8" center="[37.64,55.76]" after-init="afterMapInit($map)"&gt;&lt;/ya-map&gt;<br>
&lt;label&gt; Отслеживать размер
    &lt;input ng-model="sizeChecked" type="checkbox"&gt;
&lt;/label&gt;
    </pre>
    <p>javascript:</p>
    <pre class="js">
var map;
$scope.afterMapInit=function(nMap){
    map = nMap;
};
var timeout;
var resize = function(){
    if(timeout){
        $timeout.cancel(timeout);
    }
    timeout = $timeout(function(){
        map.container.fitToViewport();
    },500);
};
$scope.$watch('sizeChecked',function(newValue,oldValue){
    if(newValue){
        angular.element($window).bind('resize', resize);
    }else if(oldValue){
        angular.element($window).unbind('resize',resize);
    }
});</pre>
</div>
<div class="right">
    <ya-map zoom="8" center="[37.64,55.76]" after-init="afterMapInit($map)"></ya-map>
    <label> Отслеживать размер
        <input ng-model="sizeChecked" type="checkbox">
    </label>
</div>