<div class="center">
    <p>HTML:</p>
    <pre class="html" ng-non-bindable>
&lt;ya-map ya-zoom="10" ya-center="{{ center }}" ya-before-init="beforeInit()"&gt;
    &lt;ya-geo-object ya-source="geoObject"&gt;&lt;/ya-geo-object&gt;
&lt;/ya-map&gt;
</pre>
    <p>javascript:</p>
    <pre class="js" ng-non-bindable>
$scope.beforeInit = function(){
    // Данные о местоположении, определённом по IP
    var geolocation = ymaps.geolocation,
        // координаты
        coords = [geolocation.longitude,geolocation.latitude];
    $scope.center = coords;
    $scope.geoObject = {
        geometry:{
            type:'Point',
            coordinates:coords
        },
        properties:{
            // В балуне: страна, город, регион.
            balloonContentHeader: geolocation.country,
            balloonContent: geolocation.city,
            balloonContentFooter: geolocation.region
        }
    };
};</pre>
</div>
<div class="right">
    <ya-map ya-zoom="10" ya-center="{{ center }}" ya-before-init="beforeInit()">
        <ya-geo-object ya-source="geoObject"></ya-geo-object>
    </ya-map>
</div>