<div class="center">
    <p>HTML:</p>
    <pre class="html">
&lt;ya-map ya-zoom="8" ya-center="[37.75,55.43]"&gt;
    &lt;ya-geo-objects ya-geo-query&gt;
        &lt;ya-geo-object ng-repeat="o in geoQuerySource" ya-source="o"&gt;&lt;/ya-geo-object&gt;
    &lt;/ya-geo-objects&gt;
    &lt;ya-geo-objects&gt;
        &lt;ya-geo-object ya-source="circle" ya-options="{draggable:true}" ya-event-drag="drag($event,$geoQueryCollection)"&gt;&lt;/ya-geo-object&gt;
    &lt;/ya-geo-objects&gt;
&lt;/ya-map&gt;
    </pre>
    <p>javascript:</p>
    <pre class="js">
var objects;
$scope.circle = {
    geometry:{
        type:'Circle',
        coordinates:[37.7,55.43],
        radius:10000
    }
};
$scope.geoQuerySource = [
    {
        geometry:{
            type: 'Point',
            coordinates: [37.75,55.73]
        }
    },
    {
        geometry:{
            type: 'Point',
            coordinates: [37.45,55.10]
        }
    },
    {
        geometry:{
            type: 'Point',
            coordinates: [37.35,55.25]
        }
    }
];
$scope.drag = function(event, collection){
    if(!objects){
        objects = ymaps.geoQuery(collection);
    }
    var circle = event.get('target');
    var objectsInsideCircle = objects.searchInside(circle);
    objectsInsideCircle.setOptions('preset', 'twirl#redIcon');
    // Оставшиеся объекты - синими.
    objects.remove(objectsInsideCircle).setOptions('preset', 'twirl#blueIcon');
};
</pre>
</div>
<div class="right">
    <p>Перетаскивайте круг и следите за цветом меток</p>
    <ya-map ya-zoom="8" ya-center="[37.75,55.43]">
        <ya-geo-objects ya-geo-query>
            <ya-geo-object ng-repeat="o in geoQuerySource" ya-source="o"></ya-geo-object>
        </ya-geo-objects>
        <ya-geo-objects>
            <ya-geo-object ya-source="circle" ya-options="{draggable:true}" ya-event-drag="drag($event,$geoQueryCollection)"></ya-geo-object>
        </ya-geo-objects>
    </ya-map>
</div>