<div class="center">
    <p>HTML:</p>
    <pre class="html">
&lt;ya-map zoom="9" center="[37.75,55.73]"&gt;
    &lt;geo-objects ya-add="added($event)"&gt;
        &lt;geo-object source="moscow" options="{visible:false}"
            after-init="afterInit($geoObject,$geoQueryCollection, $last)"&gt;&lt;/geo-object&gt;
    &lt;/geo-objects&gt;
&lt;/ya-map&gt;
    </pre>
    <p>javascript:</p>
    <pre class="js">
$http.get('/json/moscow.json').success(
    function(moscow){
        $scope.moscow= {geometry:moscow};
    }
);
$scope.afterInit = function(geoObject, collection, last){
    if(!last){
        return;
    }
    var routeObjects = ymaps.geoQuery(collection);
    var objectsInMoscow = routeObjects.searchInside(moscow);
    objectsInMoscow.setOptions(
        {
            strokeColor: '#ff0005',
            preset: 'twirl#redIcon'
        }
    );
    routeObjects.remove(objectsInMoscow).setOptions({
        strokeColor: '#0010ff',
        preset: 'twirl#blueIcon'
    });
};
var moscow;
$scope.added = function(event){
    moscow = event.get('child');
    ymaps.route([[37.527034,55.654884], [37.976100,55.767305]]).then(
        function (res) {
            // Объединим в выборку все сегменты маршрута.
            var pathsObjects = ymaps.geoQuery(res.getPaths()),
                edges = [];

            // Переберем все сегменты и разобьем их на отрезки.
            pathsObjects.each(function (path) {
                var coordinates = path.geometry.getCoordinates();
                for (var i = 1, l = coordinates.length; i < l; i++) {
                    edges.push({geometry:{
                        type: 'LineString',
                        coordinates: [coordinates[i], coordinates[i - 1]]
                    }});
                }
            });
            res.getWayPoints().each(function(obj){
                var g = obj.geometry;
                edges.push({
                    geometry:{
                        type: g.getType(),
                        coordinates: g.getCoordinates()
                    },
                    properties:{
                        iconContent:obj.properties.get('iconContent')
                    }
                });
            });
            res.getViaPoints().each(function(obj){
                console.log(obj);
                var g = obj.geometry;
                edges.push({
                    geometry:{
                        type: g.getType(),
                        coordinates: g.getCoordinates()
                    },
                    properties:{
                        iconContent:obj.properties.get('iconContent')
                    }
                });
            });
            $scope.$apply(function(){
                $scope.edges = edges;
            });
        }
    );
};</pre>
</div>
<div class="right">
    <p>Маршрут внутри МКАД помечен красным, снаружи - синим</p>
    <ya-map zoom="9" center="[37.75,55.73]">
        <geo-objects ya-add="added($event)">
            <geo-object source="moscow" options="{visible:false}"></geo-object>
        </geo-objects>
        <geo-objects options="{strokeWidth:3}" ya-geo-query>
            <geo-object ng-repeat="o in edges" source="o" after-init="afterInit($geoObject,$geoQueryCollection, $last)"></geo-object>
        </geo-objects>
    </ya-map>
</div>