<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Directive yaMap</title>
</head>
<body ng-controller="MapCtrl">
    <!--
    maxCount - максимальное количество геометрий, которые могут присутствовать на карте, по умолчанию не ограничено
    mode - 4 варианта: по умолчанию view
        view - только просмотр объектов на карте,
        select - просмотр и выбор одного из объектов на карте,
        edit - просмотр, выбор и редактирование любых объектов на карте, но без добавления новых,
        add - все предыдущее, плюс добавление новых объектов
    geoTypes - допустимые типы объектов, которые будет отображать карта, в строке через пробел. По умолчанию - любые.
        возможные типы объектов 'point', 'linestring','rectangle','circle','polygon'
    cluster - использовать кластеризацию при отображении карты или нет, по умолчанию - нет
    showAll - если установить этот атрибут в true, карта при отображении будет подбирать центр и массштаб так, чтобы
        одновременно отобразить все геометрии.
    controls - имена дополнительных элементов управления, которые должны быть добавлены к карте, через пробел.
    -->
    <div id="map"
            ya-map="{maxCount:7,mode:'add',geoTypes:'circle point',cluster:true,showAll:true}"
            ya-properties="mapProperties"
            ng-model="geoObjects"
            ya-select-index="selectIndex"
            style="width: 600px;height: 400px;"></div>
    <button ng-click="deleteObj()">Удалить объект</button>
    <button ng-click="addObj()">Добавить объект</button>
    <button ng-click="changeObj()">Изменить объект</button>
    <button ng-click="changeSelect()">выбрать другой</button>
    <button ng-click="changeCenter()">сменить центр</button>
    <br>
    selectIndex:{{selectIndex}}<br>
    {{geoObjects | json}}
    <script src="../lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="../../../ya-map.js"></script>
</body>
</html>
