<div class="center">
    <p>HTML:</p>
    <pre class="html" ng-non-bindable>
&lt;ya-map ya-zoom="8" ya-center="[37.64,55.76]" ya-after-init="afterMapInit($target)"&gt;&lt;/ya-map&gt;
&lt;label&gt; Отслеживать размер
    &lt;input ng-model="sizeChecked" type="checkbox"&gt;
&lt;/label&gt;
    </pre>
    <p>javascript:</p>
    <pre class="js" ng-non-bindable>
var map;
$scope.afterMapInit=function(nMap){
    map = nMap;
};
var timeout;
var resize = function(){
    if(timeout){
        $timeout.cancel(timeout);
    }
    timeout = $timeout(function(){
        map.container.fitToViewport();
    },500);
};
$scope.$watch('sizeChecked',function(newValue,oldValue){
    if(newValue){
        angular.element($window).bind('resize', resize);
    }else if(oldValue){
        angular.element($window).unbind('resize',resize);
    }
});</pre>
</div>
<div class="right">
    <ya-map ya-zoom="8" ya-center="[37.64,55.76]" ya-after-init="afterMapInit($target)"></ya-map>
    <label> Отслеживать размер
        <input ng-model="sizeChecked" type="checkbox">
    </label>
</div>