<div class="center">
    <p>HTML:</p>
    <pre class="html" ng-non-bindable>
&lt;ya-map ya-zoom="10" ya-center="[37.64,55.76]"&gt;
    &lt;ya-geo-object ya-source="geoObjects[0]" ya-options="{preset:'twirl#redStretchyIcon',draggable:true}"&gt;&lt;/ya-geo-object&gt;
    &lt;ya-geo-object ya-source="geoObjects[1]" ya-options="{preset:'twirl#violetIcon'}"&gt;&lt;/ya-geo-object&gt;
    &lt;ya-geo-object ya-source="geoObjects[2]"
                   ya-options="{iconImageHref:'img/myIcon.gif',iconImageSize:[30, 42],iconImageOffset: [-3, -42]}"&gt;&lt;/ya-geo-object&gt;
&lt;/ya-map&gt;
    </pre>
    <p>javascript:</p>
    <pre class="js" ng-non-bindable>
$scope.geoObjects=[
    {
        geometry: {
            type: 'Point',
            coordinates: [37.8,55.8]
        },
        properties: {
            iconContent: 'Метка',
            balloonContent: 'Меня можно перемещать'
        }
    },
    {
        geometry: {
            type: 'Point',
            coordinates: [37.6,55.8]
        },
        properties: {
            iconContent: '1',
            balloonContent: 'Балун',
            hintContent: 'Стандартный значок метки'
        }
    },
    {
        geometry: {
            type: 'Point',
            coordinates: [37.56,55.76]
        },
        properties: {
            hintContent: 'Собственный значок метки'
        }
    }
];</pre>
</div>
<div class="right">
    <ya-map ya-zoom="10" ya-center="[37.64,55.76]">
        <ya-geo-object ya-source="geoObjects[0]" ya-options="{preset:'twirl#redStretchyIcon',draggable:true}"></ya-geo-object>
        <ya-geo-object ya-source="geoObjects[1]" ya-options="{preset:'twirl#violetIcon'}"></ya-geo-object>
        <ya-geo-object ya-source="geoObjects[2]"
                       ya-options="{iconImageHref:'img/myIcon.gif',iconImageSize:[30, 42],iconImageOffset: [-3, -42]}"></ya-geo-object>
    </ya-map>
</div>