.container{
    width: 90%;
    margin:auto;
}
.content{
    width: 88%;
    float: left;
    margin-left: 2%;
}
.left{
    width: 10%;
    float: left;
}
.center{
    width: 60%;
    float: left;
    max-width: 60%;
}
.right{
    width: 38%;
    float: left;
    max-width: 40%;
    margin-left: 2%;
}
ya-map{
    width: 100%;
    height: 400px;
    display: block
}
pre.html,pre.js,pre.css{
    overflow: auto;
}
.left>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu {
    position: absolute;
    width: 12em;
    background: #FFFFCC;
    border: 3px solid #006600;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}
#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
#menu input {
    width: 10em;
}
