<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Directive yaMap</title>
</head>
<body ng-controller="MapCtrl">
<!--
для ya-map доступны следующие атрибуты
    center - выражение, которое должно возвращать массив координат, или строку адреса. Если не задан, тогда определяется текущее
        местоположение пользователя и используется в качестве центра.
    zoom - массштаб карты, по умолчанию 0. Диапазон от 0-23 включительно. 0 самый мелкий (вся земля),
    type - тип карты, возможные значения:
        yandex#map (схема) - по умолчанию;
        yandex#satellite (спутник);
        yandex#hybrid (гибрид);
        yandex#publicMap (народная карта);
        yandex#publicMapHybrid (гибрид народной карты)
    behaviors - поведения карты, задается в виде строки с разделительным пробелом между значениями. По умолчанию - default.
        Доступные значения:
            "default" — короткий 	синоним для включения/отключения поведений карты по умолчанию:
                для настольных браузеров - "drag", "dblClickZoom", "rightMouseButtonMagnifier",
                для мобильных - "drag", "dblClickZoom" и "multiTouch"
            "drag" — перемещание 	карты при нажатой левой кнопке мыши либо одиночным касанием;
            "scrollZoom" — изменение масштаба колесом мыши
            "dblClickZoom" — масштабирование карты двойным щелчком кнопки мыши
            "multiTouch" — масштабирование карты двойным касанием (например, пальцами на сенсорном экране)
            "rightMouseButtonMagnifier" — увеличение области, выделенной правой кнопкой мыши (только для настольных браузеров)
            "leftMouseButtonMagnifier" — увеличение области, выделенной левой кнопкой мыши либо одиночным касанием
            "ruler" — измерение 	расстояния
            "routeEditor" — редактор маршрутов


    =================================================================================
    элемент map-controls
    ---------------------------------------------------------------------------------
    Представляет коллекцию контроллов на карте. Может стоять только внутри ya-map.
    Если внутри него нет ни одного элемента, будут установленны контроллы по умолчанию, настроенные через yaMapSettings

    ==================================================================================
    элемент map-control
    ----------------------------------------------------------------------------------
    Представляет контрол на карте. Возможные атрибуты:
    name - обязательный. Задает имя контролла для отображения. Доступные значения: 'zoomControl','typeSelector','mapTools',
        'scaleLine','miniMap' и 'smallZoomControl'.
    options - выражение, которое должно возвращать объект с настройками для контрола. По умолчанию не установлено.

    ==================================================================================
    элемент geo-objects
    ----------------------------------------------------------------------------------
    представляет коллекцию гео.объектов. Атрибуты:
    options - задает настройки отображения объектов для всей карты. По умолчанию {}. Если не заданны, используются
        настройки по умолчанию из yaMapSettings.displayOptions.general
    is-cluster - если установлен, задает использование кластеризации на карте.

    ==================================================================================
    элемент geo-object
    ----------------------------------------------------------------------------------
    представляет гео. объект карты. Атрибуты:
    source - задает источник данных для гео. объекта.
    options - задает настройки отображения для конкретного гео. объекта. Если не задан, используются стандартные настройки
        из коллекции объектов.
-->
<ya-map zoom="8" center="[37.8,55.85]" type="yandex#map" behaviors="default" style="width: 600px;height: 400px;display: block">
    <map-controls>
        <!--<map-control name="zoomControl"></map-control>
        <map-control name="smallZoomControl" options="{right: 5, top: 75}"></map-control>-->
    </map-controls>
    <geo-objects is-cluster>
        <geo-object ng-repeat="o in geoObjects" source="o" options="{draggable:true}"></geo-object>
    </geo-objects>
</ya-map>
<button ng-click="change()">change</button>
<button ng-click="del()">delete</button>
<button ng-click="add()">add</button><br>
{{ geoObjects | json }}
<!--<div id="map"
     ya-map="{maxCount:7,mode:'add',geoTypes:'circle point',cluster:true,showAll:true}"
     ya-properties="mapProperties"
     ng-model="geoObjects"
     ya-select-index="selectIndex"
     style="width: 600px;height: 400px;"></div>-->
<script src="../lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="../../../ya-map-view.js"></script>
</body>
</html>