<div class="center">
    <p>HTML:</p>
    <pre class="html" ng-non-bindable>
&lt;ya-map ya-zoom="10" ya-center="[40.390,56.136]" ya-controls=""&gt;
    &lt;ya-toolbar ya-name="trafficControl" ya-params="{ state:{providerKey: 'traffic#actual', trafficShown:true}}"&gt;&lt;/ya-toolbar&gt;
&lt;/ya-map&gt;
    </pre>
</div>
<div class="right">
    <ya-map ya-zoom="10" ya-center="[40.390,56.136]" ya-controls="">
        <ya-control ya-type="trafficControl" ya-params="{ state:{providerKey: 'traffic#actual', trafficShown:true}}"></ya-control>
    </ya-map>
</div>